# CONFIG
VITE_APP_NAME=your_app_name_here
VITE_PORT=your_port_here
VITE_LOG_LEVEL=your_log_level_here
VITE_FEATURE_X_ENABLED=Boolean_value_here

# SECRETS (valores dummy)
VITE_API_KEY=your_api_key_here
VITE_JWT_SECRET=your_jwt_secret_here
VITE_DB_PASSWORD=your_db_password_here